<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client 등록 페이지</title>
</head>
<body>
<h1>Client 등록 페이지</h1>
<hr/>
<form action="/client/register" method="post" th:object="${clientDto}">
    <input type="text" name="clientId" placeholder="ClientId"/> <br/>
    <input type="text" name="clientName" placeholder="ClientName"/> <br/>
<!--    <input type="text" name="redirectUris" placeholder="RedirectUris"/> <br/>-->

    <button type="submit">Client 등록</button>
</form>
</body>
</html>